.menu-style{
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;


}
.style-home{
    position: absolute;
    width: 80px;
    height: 27px;
    left: 0px;
    top: -6px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;


    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    background-color: white;
    border-color: white;


}
.style-photoapp{
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    background-color: white;
    border-color: white;
    text-decoration: none;


}
.style-design{
    position: absolute;
    width: 96px;
    height: 27px;
    left: 343px;
    top: -6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    background-color: white;
    border-color: white;
    text-decoration: none;

}
.body-style{
    position: relative;
    width: 1280px;
    height: 1626px;
    border-color: #ff0000;
    border-width: medium;

    margin: 0 auto;
}
.style-download{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;

    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #ff0000;
    background-color: white;
    border-color: white;


}
.img-style{

    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;


}
.main-style{
    position: absolute;
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px/2);
    bottom: 108px;


}
.title-style{
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.p-style{
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.p1-style{
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button-style{
    position: absolute;
    width: 105px;
    height: 16px;
    left: 587px;
    top: 575px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    width: 120px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
}
.footer-style{
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 1597px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}
a:hover {text-decoration: underline;

}