.container{
    width: 1192px;
    height: 736px;
    background-color: #3A4965;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    width: 1139px;
    height: 680px;
    border-collapse: collapse;


}
tr,td,th{
    border: black 1px solid;
}
.choose-your-plan{
    background-color: #FAFAFA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.higher-text{
    font-family: Arimo;
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    font-weight: bold;
}
.lower-text{
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color:#484848;
}
.green-header-block{
    
    background-color:  #89C331;
}