.price-text{
    color: black;
}
.container{
    display: inline-block;

    height: 100px;
    width: 300px;
}
.button-style{
    height: 15px;
    color: red;
    margin-left: 10px;
    background: lavenderblush;
    border: none;
    outline: none;


}