.header {
    width: 334px;
    height: 79px;
    margin-top: 61px;
    margin-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    color: #000000;
    text-decoration: none;
}
.body{
    width: 1283px;
    height: 1282px;
    margin: 0 auto;
}
.topmenu{
    width: 1283px;
    height: 72px;
    background: #35444F;
}
.topmenu-item{
    margin-left:  50px;
    font-family: Roboto;
    font-size: 27px;
    line-height: 70px;
    color: #FFFFFF;
    text-decoration: none;

}
a:hover {text-decoration: underline ;
}
a {text-decoration: none; }

.side-menu{
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
    vertical-align: top;
    display: inline-block;
}
ul.topmenu-view li {
    display: inline-block;
     border-left: 1px white solid;
     margin-left: 50px}
.side-menu-item{
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    list-style-type: none;
    padding-bottom: 52px;
    font-family: Roboto;
    color: #485863;
    vertical-align: top;}
a{
    color: #35444F;
}
img {

    width: 320px;
    height: 381px;

   padding-top: 75px;
}
.img-frame{
    display: inline-block;
    border: 1px black solid;
    width: 885px;
    height: 529px;
    text-align: center;
    padding-left: 5px;

}
main {
    margin-top: 32px;
}

.text-style{
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-left: 388px;
    padding-bottom: 34px;
}
.footer-style{
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);

}
.footer-view{
    display: inline-block;

}

.footer-item{
    padding-right: 20px;
    list-style-type: none;
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    color:#0C1927;
    font-family: Roboto;

}
#copyright{
    padding-left: 40px;
}




