button{
    width: 100px;
    height: 50px;
    margin-left: 50px;
    background-color: aquamarine;
    color: #23201D;
    font-family: Algerian;

}
.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;

}