@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu.ttf");
}
body{
    height: 100%;
    width:100%;
    background: url("images/background.png");
    background-size: 100%;
}
header{
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.left-header-text{
    font-style: normal;
    margin-left: 79px;
    font-size: 22px;
    line-height: 22px;
    font-family:Ubuntu;
    font-weight: bold;

}
header:hover .left-header-text{
    color: #3CB878;
}
header:hover .green-hover-header{
    color: #3CB878;
}
header:hover .header-icons{
 background: url("images/header-icons-hover.png") no-repeat;
margin-top: 60px;
margin-left: 855px;
}
.right-header-text{
    width: 282px;
    margin-left: 27px;
    border-left: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-family: Ubuntu;
}
.border-line{
    height: 19px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.9);;
}

main {
    display: flex;
    align-items: center;
    height: 712px;
    justify-content: center;

}
form{
    background: #FFFFFF;
    width: 444px;
    height: 584px;
}
.top-form{
    display: flex;
}
.green-sqare{
    width:18px;
    height: 18px;
    background: #3CB878;
    align-self: flex-start;
    margin-top: 29px;
}
.sign-up{
    font-size: 20px;
    line-height: 20px;
    color: black;
    margin-top: 29px;
    margin-right:216px ;
    margin-left:43px ;
    font-family: Ubuntu;
}
.log-in{
    color: #3CB878;
    margin-top: 33px;
    font-family: Ubuntu;

}
.log-in:hover{
    text-decoration: underline #3CB878;
}
.social_networks{
    display: flex;
    justify-content: center;
}
.facebook{
    background: #305DB8;
    width: 160px;
    height: 48px;
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.google{
    background: #DF4A32;
    width: 160px;
    height: 48px;
    margin-left: 4px;
    margin-top: 15px;
    display: flex;
    align-items: center;

}
.facebook-logo{
    background-image: url("images/facebook-logo.png");
    width: 12.46px;
    height: 24px;
    margin-left: 16.77px;
}
.facebook-text{
color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    width: 70px;
    margin-left: 18.77px;
    padding-left: 18px;
    border-left: rgba(0, 0,0, 0.1) 1px solid;

}
.google-logo{
    background-image: url("images/google-logo.png");
    width: 30px;
    height: 19px;
    margin-left: 12px;
}

.google-text {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;
    width: 70px;
    margin-left: 18.77px;
    padding-left: 18px;
    border-left: rgba(0, 0,0, 0.1) 1px solid;


}
a{ text-decoration: none}
.line-or-block{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.line-left{
    width: 152px;
    height: 2px;
    background-color: #F2F2F2;
    justify-content: center;
    margin-left: 58px;
}
.or{
    font-size: 14px;
    line-height: 14px;
    font-family: Ubuntu;
    color: #848484;
    margin-left: 5px;
    margin-right: 5px;

}
.line-right{
    width: 152px;
    height: 2px;
    background-color: #F2F2F2;

}
.form-item{
    width: 298px;
    height: 40px;
    margin-left:60px;
    margin-top: 16px;
    border: 1px solid #F2F2F2;
    color: black;
    padding-left: 20px;
    font-family: Ubuntu;

}

input.form-item::placeholder{
                    color: #BEBEBE;
                    font-family: Ubuntu}
input:focus{
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    outline: none;
    border-radius: 4px;

}
.checkbox-bottom-form{
    display: flex;
    align-items: center;
    margin-left: 65px;
    margin-top: 12px;
    font-size: 14px;
    line-height: 14px;
    font-family: Ubuntu;

}
.terms{
    color: #3CB878;
    margin-left: 5px;


}
.terms:hover{
    text-decoration: underline #3CB878;
}
.checkbox-item{
 margin-right: 8px;

}
.create-account{
 background-color: #3CB878;
    width:324px ;
    height:46px ;
    margin-left: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 16px;

}
.header-icons{
    background: url("images/hover-icons.png") no-repeat;
    width: 211px;
    height: 72px;
    margin-left: 850px;
    margin-top: 35px;
    margin-bottom: 10px;
}