@font-face {
    font-family: Roboto;
    src: url('fonts/Roboto-Regular.ttf');
}
body{
    background-color: black;
}

.clearfix {
    clear: both;
}

.container{
    background: url("images/background1.png");
    width: 1366px;
    margin: 0 auto;

}
.left-top-text{
    float: left;
    margin-left: 10px;
}
.header-logo{
    background-image: url("images/logo.png");
    width: 53px;
    height: 47px;
    float: left;
}

.left-top-link{
    color: white;
    text-decoration: none;
    margin-left: 161px;
    margin-top: 51px;
    display: block;
    float: left;
}
.milan-link{
 padding-top: -10px;
    font-size: 29px;
    line-height: 29px;
    font-family: Roboto;
}
.holidays-link{

font-family: Roboto;
}
.right-header-link{
    color: white;
    float: right;
    margin-right: 177px;
    margin-top: 46px;
}

.right-header-link:hover{
    color: #F26522;
}
.header-info{
    float: right;
    font-family: Roboto;
}
.header-phone-number{
    margin-top: 86px;
    color: white;
    font-family: Roboto;
}
.header-phone-number:hover{
    color: #F26522;
    font-family: Roboto;

}

.left-top-link:hover .header-logo {
    background-image: url("images/logo-hover.png");
}

.left-top-link:hover {
    color: #F26522;
}


/*MAIN SECTION*/
/*порядок ну мерации картинок на странице*/
/* 1           2           3*/
/* 4           5           6*/
.tour1{
    float:left;
    margin-left: 165px;

}
.gradient-border{
    width: 300px;
    height: 220px;
    padding: 1px;
    overflow: hidden;
    background: linear-gradient(white, black);
}
.tour-img-1{
    width: 100%;
    height: 100%;
    background: url("images/tour1.png") no-repeat;
    padding-top: 221px;
    transition: 0.2s;

}
.hidden-price{
    height: 55px;
    background-color: #F26522;

    width: 100%;

}
.tour1:hover .tour-img-1{
    padding-top: 166px;

}

.from-text{
    color: white;
    font-family: Roboto;
    margin-left: 16px;
    margin-top: 7px;
    font-size: 10px;
    line-height: 10px;
    width: 30px;
}
.details-block{
    float: right;
}
.details-block-info{
    color: white;
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
    margin-left: 100px;
    margin-top: 29px;
    font-family: Roboto;


}

h2{text-align: center;
   color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;}
.price-text{
    color: white;
    font-family: Roboto;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 20px;
    line-height: 20px;
}
.price-block{
    float:left;
}
.tour:hover .under-img-text{
    color: #F26522;

}
.details-block-info::after{
    content: ">";
    margin-left: 16px;
}
.tour-img-2
{ width: 100%;

height: 100%;
background: url("images/tour2.png") no-repeat;
padding-top: 221px;
transition: 0.2s;}
.tour2{


    float: left;
    width: 300px;
}
.tour{
  padding-right: 61px;
    padding-top: 22px;
}

.tour2:hover .tour-img-2{
    padding-top: 166px;

}
.tour3:hover .tour-img-3{
    padding-top: 166px;

}
.tour3{
    float: left;
}
.tour-img-3
{ width: 100%;

    height: 100%;
    background: url("images/tour3.png") no-repeat;
    padding-top: 221px;
    transition: 0.2s;}
.tour-img-4
{ width: 100%;

    height: 100%;
    background: url("images/tour4.png") no-repeat;
    padding-top: 221px;
    transition: 0.2s;}
.tour4{
    margin-left: 165px;
    float: left;
    padding-top: 37px;
}
.tour4:hover .tour-img-4{
    padding-top: 166px;

}
.tour5:hover .tour-img-5{
    padding-top: 166px;

}
.tour-img-5
{   width: 100%;
    height: 100%;
    background: url("images/tour5.png") no-repeat;
    padding-top: 221px;
    transition: 0.2s;}
.tour5{
    float: left;
    padding-top: 37px;
}
.tour6:hover .tour-img-6{
    padding-top: 166px;

}
.tour-img-6
{   width: 100%;
    height: 100%;
    background: url("images/tour6.png") no-repeat;
    padding-top: 221px;
    transition: 0.2s;}
.tour6{
    float: left;
    padding-top: 37px;
}
/*тут начинается футер*/
.footer-style{
    text-align: center;
    height: 21px;
    font-size: 12px;
    line-height: 12px;
    font-family: Roboto;
    color: white;
    padding-top: 29px;
}