.header-back{
    background: rgba(94, 93, 88, 0.6) 100%;
  width: 100%;

position: fixed;
}
.header-style{

    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px;
}
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.logo-block{
    background: url("../img/logo-header.png") no-repeat;
    height: 67px;
    width: 58px;
    text-align: center;
    padding-top: 20px;
    margin-top: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: white;


}
.the{
color: white;
    font-weight: normal;
    margin-left: 10px;
}
.the-Ham{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color:  #18CFAB;
}
.nav-style{
    list-style: none;
     margin-left: 305px;
}
.nav-element{
    padding-right: 21px;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 49px;
}
a{
    text-decoration: none;
}
.hover-line{
    width: 100%;

    height: 26px;
    margin-top: 20px;
}
.nav-element:hover .hover-line{
 border-bottom:  2px solid #18CFAB;
}
.nav-element:hover{
    color:#18CFAB;
    height: 24px;
}
.main-header{
    background: url("../img/header-background.png") 100% ;
    background-attachment: fixed;
    margin: 0 auto;

}
body,html{
    width: 100%;
    height: 100%;
}
.first-text-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    display: block;
    color: white;

}
.wordpress-theme-text{
    color: #18CFAB;
    display: inline-block;
}
.second-text-header{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    color: white;
    height: 80px;
    margin-top: 100px;
}
.header-text{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 264px;
    flex-direction: column;
}
.third-text-header{
    color: #D4D4D4;
    font-size: 30px;
    margin-bottom: 140px;
    font-family: Montserrat;
}
.header-buttons{
    display: flex;
    justify-content: center;
    margin-top: 74px;
    padding-bottom: 100px;

}
.button-header{
    width: 169px;
    height: 63px;
    margin-right: 26px;
    background: #18CFAB;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    color: white;
    border: 0px;
    border-top: 5px white solid;
    outline: none;
    border-radius: 5px;
    margin-left: 25px;
}
button:focus-within{
    outline: none;
    border: 0px;
    border-top: 5px white solid;
}

.header-icon{
    width: 25%;
    height:291px;
    border-top: 10px white solid;
    outline: none;
    display: flex;
justify-content: center;
    background-color:  #1C2A33;
    color: #18CFAB;
    flex-direction: column;
    align-items: center;
}
.header-icon-2{
    background-color: #18CFAB;

}

.header-icons{
    display: flex;
    justify-content: center;

}
.header-icon-img{
 width: 100px;
    height: 100px;

}
.header-icon-text{
    margin-top: 40px;
    color: #18CFAB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
.header-icon-text-2{
    color: #EDEFEF;
}

.our-services-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-top: 83px;
    margin-bottom: 24px;
}

.our-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.our-services-green-line{
    width: 79px;
    height: 2px;
    background: #18CFAB;
    margin-bottom: 2px;
}
.our-services-green-line:nth-child(3){
    margin-left: 40px;
}
.our-services-menu{
    margin-top: 69px;

}
.our-services-button{
    display: inline-block;
    width: 192px;
    height: 72px;
    background: white;
    font-family:  Montserrat;
    border: 1px solid #EDEFEF;
    color: #717171;
}
li{
    display: inline-block;
}
.our-services-button:hover{
   border-color: #18CFAB;
    border-collapse: collapse;
}
.our-services-button:focus{
    background: #18CFAB;
    color: white;
    border: 2px #18CFAB solid;

}
.menu-triangle{
    width: 26px;
    height: 14px;
    margin-left: 84px;
   border-top-color: #18CFAB;
}
.our-services-button-element:focus-within .menu-triangle{

    background: url("../img/menu-triangle.png") no-repeat;
}

.our-services-img{
    width: 192px;
    height: 139px;
    border: #0C1927 1px solid;

}
.our-services-text{
    width: 952px;
    height: 136px;
    margin-left: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;

}
.our-services-changer{
    display: flex;
    justify-content: center;
}
.everything{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.everything-first-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    margin-bottom: 12px;
}
.everything-second-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 67px;
}
.everything-cover{
    background: url("../img/everything-background.png");
    width: 100%;
    height: 476px;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 91px;

}
.our-work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 95px;
    padding-right: 150px;
    padding-left: 150px;

}
.our-work-button{
    color:  #717171;
    border: 1px solid #DADADA;
    margin-top: 70px;
    padding: 15px;
    font-family: Montserrat;
    background: #E9EDEF;

}
.our-work-buttons{
    list-style: none;
    display: inline-block;
    margin-bottom: 70px;
}
.our-work-button:focus-within{
    border: #18CFAB 2px solid;
    color: #18CFAB;

}
.our-work-cover{
    width: 100%;
    background: #E9EDEF;
    display: flex;
    justify-content: center;

}
.our-work-btn{
    margin-top: 70px;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    border: none;
    font-family: Montserrat;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 99px;
}
.plus{
    font-size: x-large;
    margin-right: 15px;
}
.our-work-btn:focus-within{
    border: none;
}
.breaking-news{
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.breaking-news-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
}
.breaking-news-item-1{


    margin-left: 14px;
    margin-right: 14px;
}
.breaking-news-item-photo{
    width: 263px;
    height: 208px;

}
.breaking-news-item-1:nth-child(1){
    background: url("../img/breaking-news1.png") no-repeat;
}
.breaking-news-item-1:nth-child(2){
    background: url("../img/breaking-news2.png") no-repeat;
}
.breaking-news-item-1:nth-child(3){
    background: url("../img/breaking-news3.png") no-repeat;
}
.breaking-news-item-1:nth-child(4){
    background: url("../img/breaking-news4.png") no-repeat;
}
.breaking-news-item-2:nth-child(1){
    background: url("../img/breaking-news5.png") no-repeat;
}
.breaking-news-item-2:nth-child(2){
    background: url("../img/breaking-news6.png") no-repeat;
}
.breaking-news-item-2:nth-child(3){
    background: url("../img/breaking-news7.png") no-repeat;
}
.breaking-news-item-2:nth-child(4){
    background: url("../img/breaking-news8.png") no-repeat;
}

.breaking-news-item-2{


    margin-left: 14px;
    margin-right: 14px;
}
.breaking-news-first-text{
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    padding-left: 17px;
}
.breaking-news-second-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
    padding-left: 12px;
}
.breaking-news-second-text-1{
    padding-left: 5px;
    padding-right: 5px;
}
.date-sqr{
    width: 70px;
    height: 70px;
    background: #203E38;
    margin-bottom: 140px;
    margin-left: 195px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.breaking-news-item-1:hover .breaking-news-first-text{
    color: #18CFAB;
}
.breaking-news-item-1:hover .date-sqr{
    background: #18CFAB;
}
.breaking-news-item-2:hover .breaking-news-first-text{
    color: #18CFAB;
}
.breaking-news-item-2:hover .date-sqr{
    background: #18CFAB;
}
.people-say{

    display: flex;
    flex-direction: column;

    align-items: center;
}
.footer{
    width: 100%;
    height: 108px;
   background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
.footer-text-theHam{
    color: #18CFAB;
}
.people-say-header-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: white;
    margin-top: 98px;
    margin-bottom: 25px;
}
.people-say-shape{
  background: url("../img/people-say-shape.png");
    width: 44px;
    height: 31px;
    margin-top: 66px;
}
.people-say-cover{
    background: url("../img/people-say.png");
    width: 100%;
    height: 853px;
    margin-top: 129px;
}
.people-say-text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    width: 1160px;
    margin-top: 36px;
    text-align: center  ;
}
.people-say-name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
}
.people-say-prof{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color:  #BBBBBB;
    margin-bottom: 50px;
;
}
.people-say-changer{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-button{
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
}
.slider-button:hover{
    color: white;
    background: #18CFAB;
}
.slider{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.people-say-big-img{
    background: url("../img/face1.png") ;
    width: 166px;
    height: 166px;
    border-radius: 100px; /* Радиус скругления */
    border: 5px solid #1FDAB5; /* Параметры рамки */
    box-shadow: 0 0 15px #666;
   background-size: cover;

}
.slider-element{

    width: 60px;
    height: 60px;
    border-radius: 100%; /* Радиус скругления */
    border: 5px solid #1FDAB5; /* Параметры рамки */
    box-shadow: 0 0 15px #666;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 35px;
    transition: 0.5s;

    background-size: cover;
}
.hidden{
    display: none;
}
.our-work-image{


}
.our-work-images-wrapper{
    overflow: hidden;
    width: 282px;
    height: 211px;
    margin: 2px;
   }
.our-work-images{
    display: flex;
    width: 1160px;
    align-items: center;

    flex-wrap: wrap;

}
.our-work-images-wrapper:hover .hidden-block{
 padding-top: 0px;
}
.our-work-image{
    width:282px ;
    height: 211px;
}
.hidden-block{
    width: 100%;
    height: 100%;
    padding-top: 211px;
    transition: 0.3s;

}
.clearfix {
    clear: both;
}
.hidden-hover-part{
    height: 211px;
    background: #E9EDEF;
    border-top: 6px solid;
    border-top-color: #18CFAB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.two-circles{
display: flex;
    margin-bottom: 19px;
}
.first-circle{
    height: 40px;
    width: 41px;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    background-color: #E9EDEF;
    margin: 3px;

}
.second-circle{
width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #18CFAB;
    margin: 3px;
}
.hidden-text-1{

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #18CFAB;
}
.hidden-text-2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    color: #8A8A8A;
    margin-top: 22px;
}
.white-square{
    background: #FFFFFF;
    width: 12px;
    height: 12px;
    margin: 14px;

}
.combined-shape{
    background-image: url("../img/Combined shape 7431.png");
    width: 15px;
    height: 15px;
    margin: 12px;
}
.people-say-img-0{
    background-image: url("../img/face4.png");
}
.people-say-img-3{
    background-image: url("../img/face3.png");
}
.people-say-img-2{
    background-image: url("../img/face2.png");
}
.people-say-img-1{
    background-image: url("../img/face1.png") ;

}
.slider-higher-position{
margin-top: 0;
}








